.addressTable{
    width:99%;
    }
.abtitleCol {
    color: MediumBlue ;
    width: 13%; 
    height: 20px;
    padding-left:5px;
        padding-top:3px;
    padding-bottom:3px;
} 
.abcontentCol{
    width: 36%; 
    height: 20px;
    padding-left:5px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
}
#addressbookPageA table {
    border-collapse: collapse;
    border: 2px solid gray;
    width:100%;
}
#addressbookPageA td{
    cursor: pointer;
}

#addressbookPageA td, th {
    border: 1px dotted LightSteelBlue   ;
    padding:6px;
}
#addressbookHeading{
    background-color:#f5f5f5;
    font-size: 26px;
        }
#addressbookPage table {
    border-collapse: collapse;
    border: 2px solid gray;
    width:100%;
}
#addressbookPage td{
    cursor: pointer;
}

#addressbookPage td, th {
    border: 1px dotted LightSteelBlue   ;
    padding:6px;
}
#addressbookNoPermit{
    color:#ff0000;
    background-color:#fbe9e9;
    font-size: 18px;   
    }
#addressbookNone{
        color:#00539a;
    background-color:#fff6d0;
    font-size: 16px; 
    font-weight: bold;
    text-align: center;
}
.addressCell{
    background-color:#fffbec;
}
.commsCell{
    background-color:#edf7ff;
    
    }
.titleCol{
    width:20%;        
}
.contentCol{
    width:30%;   
    font-weight:bold; 
}
.roleCell{
    background-color:#f6ffec;
    }
.notesCell{
 background-color:#fdf6ec;       
}



#ajaxSpinner{
   text-align:center; 
    }
#zzajaxSpinnerSpin{
 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
    }
#zzloadingAB{
    display: inline-block;
  margin-left: auto;
  margin-right: auto;  
    text-align:center;
    padding-left: 5px;
}